<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>View List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container mt-5">
            <!-- top -->
            <div class="row">
                <div class="col-lg-6">
                    <h1>View Grocery List</h1>
                </div>
                <div class="col-lg-6 float-right">
                    <div class="row">
                        <div class="col-lg-8">
                            <!-- Date Filtering-->
                            <input type="date" class="form-control">
                        </div>
                        <div class="col-lg-4">
                            <input type="submit" class="btn btn-danger" value="filter">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a type="button" class="btn btn-danger" href="/add/">Add</a>
            </div>
            <div class="row mt-4">
            {% for x in GroceryList%}
                <div class="col-lg-4" style="padding-bottom: 20px">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{ x.Item_Name }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{ x.Item_Quantity }} Pcs.</h6>
                            {% if x.Item_status == '1' %}
                                <p class="text-info">PENDING</p>
                            {% endif %}
                            {% if x.Item_status == '2' %}
                                <p class="text-success">BOUGHT</p>
                            {% endif %}
                            {% if x.Item_status == '3' %}
                                <p class="text-danger">NOT AVAILABLE</p>
                            {% endif %}
                            <br>
                            <div class="inline-block">
                                <h5 style="float: left"><a href="/update/{{ x.id }}">Update</a></h5>
                                <h5 style="float: right"><a href="/delete/{{ x.id }}">Delete</a></h5>
                            </div>
                        </div>
                      </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </body>
</html>
